.arc-diagram {

  .node {
    fill: #767dab;
    fill-opacity: 0.4;

    text {
      font-size: 12px;
      fill: #333;
      fill-opacity: 0.8;
    }

  }

  .link {
    fill: none;
    stroke: #767dab;
    stroke-width: 1;
    stroke-opacity: 0.2;
  }

}