$primary-font-family: 'Arial', sans;
$primary-font-color: #4a4a4a;
$primary-font-size: 14px;
$primary-font-weight: normal;


$secondary-font-size: 12px;
$secondary-font-size-min: 8px;

$title-font-size: 14px;

$secondary-font-color: #666;
$third-font-color: #999;


